.tabs-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}
.card-container {
  margin-bottom: 16px;
}

.ant-tabs {
  width: 90%;
  max-height: 90%;
  background-color: #495330d3;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px #0c0f06;
}

.tabs-btn {
  color: #000000;
  font-size: 16px;
  padding: 8px 15px;
  background-color: #657441e0;
  border-radius: 5px;
  box-shadow: 1px 2px #0c0f06;
}
.background {
  display: flex;
  height: 100vh;
  background-image: url("../public/images/background.jpg");
  background-size: cover;
}

.container {
  max-width: 1000px;
  padding: 30px;
  background-color: rgba(70, 83, 48, 0.7);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: white !important;
}

.container {
  margin-bottom: 20px;
}

.container a, .container label{
  color: white !important;
}

body {
  background-image: url("./images/background.jpg");
  background-size: cover;
  background-attachment: fixed;
}
.ant-upload {
  background-color: white;
  border-radius: 50%;
}

.bio-text {
  background-color: white;
  border-radius: 3px;
  height: 30px;
  align-content: center;
  padding: 0 5px;
}

.profile {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.avatar-uploader {
  margin: 50px;
}

.username {
  font-family: "Lucida Console", "Courier New", monospace;
  font-style: italic;
  font-size: 20px;
  color: bisque;
  font-weight: bold;
}

.anticon {
  font-size: 1rem;
}

@media screen and (max-width: 992px) {
  .tabs-btn {
    font-size: 14px;
    padding: 4px 6px;
  }
}
@media (max-width: 768px) {
  .ant-tabs {
    width: 100%;
    max-width: none;
  }
  .tabs-container .ant-tabs {
    width: 80%;
  }
  .tabs-btn {
    font-size: 12px;
    padding: 4px 6px;
  }
  .ant-tabs .ant-tabs-content {
    width: 100%;
  }

  .ant-card-meta-description {
    font-size: 0.7rem;
  }
  .desktop-menu {
    display: none;
  }
  .ant-tabs-nav {
    margin: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .ant-tabs-nav-wrap {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .ant-tabs-tab {
    flex: 1;
    text-align: center;
  }
}

@media (max-width: 576px) {
  .tabs-container .ant-tabs {
    font-size: 0.9rem;
  }

  .tabs-btn {
    font-size: 0.8rem;
    padding: 1px;
  }

  .ant-tabs .ant-tabs-content {
    width: 100%;
  }

  .ant-card-meta-description {
    font-size: 0.6rem;
  }

  .anticon {
    font-size: 0.8rem;
  }

  .card-container {
    padding: 8px;
  }

  .ant-card {
    width: 100%;
  }

  .ant-tabs-nav {
    flex-wrap: wrap;
  }

  .ant-tabs-tab {
    width: 100%;
    text-align: center;
    margin-bottom: 8px;
  }
}

.text-center {
  text-align: center;
  color: white;
}

.content {
  padding-left: 150px;
  padding-right: 150px;
  margin-top: 30px;
  margin-bottom: 50px;
}

@media screen and (max-width: 500px)  {
  .content {
    padding-left: 20px;
    padding-right: 20px;
  }
} 

.welcome-section {
  padding-bottom: 30px;
}

.welcome-title {
  font-size: 3.5rem;
}

.welcome-description {
  font-size: 1.2rem;
  margin-bottom: 30px;
}
.search-button {
  background-color: #0c0f06;
  border-color: #0c0f06;
  transition: background-color 0.3s, border-color 0.3s;
}

.search-button:hover {
  background-color: #3f6da2;
  color: #000;
}
