.tabs-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.ant-tabs {
  width: 80%;
  max-width: 800px;
  background-color: #495330d3;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px #0c0f06;
}

.tabs-btn {
  color: #000000;
  font-size: 16px;
  padding: 8px 15px;
  background-color: #657441e0;
  border-radius: 5px;
  box-shadow: 1px 2px #0c0f06;
}
.background {
  display: flex;
  height: 100vh;
  background-image: url("../public/images/background.jpg");
  background-size: cover;
}



.container{
  max-width: 1000px;
  padding: 20px;
  background-color: rgba(70, 83, 48, 0.7);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  
}

.container {
  margin-bottom: 20px; /* Add spacing between each container */
}

body {
  background-image: url("./images/background.jpg");
  background-size: cover;
  background-attachment: fixed;
}
.ant-upload {
  background-color: white;
  border-radius: 50%;
}

.bio-text {
  background-color: white;
  border-radius: 3px;
  height: 30px;
  align-content: center;
  padding: 0 5px;
}

.profile {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.avatar-uploader {
  margin: 50px;
}

.username {
  font-family: "Lucida Console", "Courier New", monospace;
  font-style: italic;
  font-size: 20px;
  color: bisque;
  font-weight: bold;
}

.anticon {
  font-size: 1rem;
}

@media screen and (max-width: 992px) {
  .tabs-btn {
    font-size: 14px;
    padding: 4px 6px;
  }
}
@media (max-width: 768px) {
  .tabs-container .ant-tabs {
    width: 80%;
  }
  .tabs-btn {
    font-size: 12px;
    padding: 4px 6px;
  }
  .ant-tabs .ant-tabs-content {
    width: 45%;
  }

  .ant-card-meta-description {
    font-size: 0.7rem;
  }
}

@media (max-width: 576px) {
  .tabs-container .ant-tabs {
    font-size: 0.9rem;
  }

  .tabs-btn {
    font-size: 0.8rem;
    padding: 1px;
  }
  .ant-tabs .ant-tabs-content {
    width: 40%;
  }

  .ant-card-meta-description {
    font-size: 0.6rem;
  }
  .anticon {
    font-size: 0.8rem;
  }
}

.text-center {
  text-align: center;
  color: white;
}

.content {
  padding: 20px;
  margin-top: 80px;
}