.tabs-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.ant-tabs {
  width: 80%;
  max-width: 800px;
  background-color: #495330d3;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px #0c0f06;
}

.tabs-btn {
  color: #000000;
  font-size: 16px;
  padding: 8px 15px;
  background-color: #657441e0;
  border-radius: 5px;
  box-shadow: 1px 2px #0c0f06;
}
.background {
  display: flex;
  height: 100vh;
  background-image: url("../public/images/background.jpg");
  background-size: cover;
}



.container{
  max-width: 1400px;
  margin: 40px auto; /* Center the container and add margin to top and bottom */
  padding: 20px;
  background-color: #495330d3;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.container {
  margin-bottom: 20px; /* Add spacing between each container */
}

body {
  background-image: url("./images/background.jpg");
}