.header {
    min-height: 72px;
    background-color: black;
    color: white;
    /* position: fixed;
    top: 0;
    width: 100%;
    z-index: 100; */
}

.navlink {
    color: white;
    text-decoration: none;
}
